h1 {
  color: violet;
  background-color: black;
}
p
{
  color: white;
}
/* waterfall */
/* body {
  color : white;
background: #D0E4F5 url("https://dynaimage.cdn.cnn.com/cnn/q_auto,w_814,c_fill,g_auto,h_458,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F190501111839-india-waterfalls---jog-falls-restricted.jpg") no-repeat scroll 0 0;
} */

/* Parralax */
body
{
  background: #0a2a43;
  min-height: 1500px;

}

/* Creative Card UI Design */
/* body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #131313;
} */

{
  margin: 0;
  padding: 0;
  font-family: consolas;
  box-sizing: border-box;
}
section
{
  padding: 50px;
  background: #000;
}
section h2
{
  font-size: 2.5em;
  color: #fff;
}
section p
{
  font-size: 1.2em;
  color: #fff;
}
::-webkit-scrollbar
{
  width: 0;
}
#scrollPath
{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  backgorund: rgba(255,255, 255, 0.05);
}
#progressbar
{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  backgorund: linear-gradient(to top,#008aff,#00ffe7)
    ;
  animation: animate 5s linear infinite;
}
@keyframes animate
{
  0%,100%
  {
    filter: hue-rotate(0deg);
  }
  50%
  {
    filter: hue-rotate(360deg);
  }
}
#progressbar:before
{
  content: '';
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7)
    ;
  filter: blur(10px);
}
#progressbar:after
{
  content: '';
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7)
    ;
  filter: blur(30px);
}

/* Parallax Scrolling Effect */
.section2
{
  position: static;
}
section2
{
  postion: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
section2:before
{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  boackground: linear-gradient(to top, #0a2a43,transparent);
  z-index: 10000;
}
section2:after
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  boackground: #0a2a43;
  z-index: 10000;
  mix-blend-mode: color;
}
section2 img
{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
#text
{
  position: relative;
  color: #fff;
  font-size: 10em;
  z-index: 1;
}

/* Creative Product Cards*/
/* Float four columns side by side */
.column
{
  float: left;
  width: 25%;
  padding: 0 10px;
}


.container
{
  position: relative;
  z-index: 1;
}
.container .card
{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}
/* green circle */
.container .card:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9bdc28;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}
.container .card:hover:before
{
  clip-path: circle(300px at 80% -20%);
}

.container .card:after
{
  content: 'Nike';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,255,0.04);
}
.container .card .imgBx
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}
.container .card:hover .imgBx
{
  top: 0%;
  transform: translateY(0%);
}
.container .card .imgBx img
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-25deg);
  width: 270px;
}
.container .card .contentBx
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}
.container .card:hover .contentBx
{
  height: 210px;
}
.container .card .contentBx h2
{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}
.container .card .contentBx .size,
.container .card .contentBx .color
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.container .card:hover .contentBx .size
{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}
.container .card:hover .contentBx .color
{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}
.container .card .contentBx .size h3,
.container .card .contentBx .color h3

{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}
/* little white boxes around size number */
.container .card .contentBx .size span
{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius:4px;
  cursor: pinter;
}
.container .card .contentBx .size span:hover
{
  background: #9bdc28;
}
/* color selector */
.container .card .contentBx .color span
{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.container .card .contentBx .color span:nth-child(2)
{
  background: #9bdc28;
}
.container .card .contentBx .color span:nth-child(3)
{
  background: #03a9f4;
}
.container .card .contentBx .color span:nth-child(4)
{
  background: #e91e63;
}
.container .card .contentBx a
{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}
.container .card:hover .contentBx a
{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}
/* Try to get cards in a row */
/* .container ul
{
  padding: 0px;
  margin: 0px;
}
.container ul li
{
  list-style: none;
  float: left;
  width: 20%;
  height:300px;
  background: ;
  margin: 40px 40px 0px 55px;
} */

/* video caption hover effects */
/* {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */
.container2
{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}
.container2 .box2
{
  position: relative;
  width: 450px;
  height: 320px;
  background: #000;
}
.container2 .box2 .videoBx
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container2 .box2 .videoBx video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container2 .box2 .contentBx
{
  position: absolute;
  top: 40px;
  bottom: 40px;
  right: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
}
.container2 .box2:hover .contentBx
{
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}
.container2 .box2 .contentBx .content
{
  position: relative;
  padding: 20px 60px;
  opacity: 0;
}
.container2 .box2:hover .contentBx .content
{
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.container2 .box2 .contentBx .content h2
{
  color: #fff;
  font-weight: 500;
  margin-bottom: 10px;
}

/* 3D Rotating Image Gallery */
.box
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;

  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: animate 20s linear infinte;
}
@keyframes animate
{
  0%
  {
    transform: perspective(1000px) rotateY(0deg);
  }
  100%
  {
    transform: perspective(1000px) rotateY(0deg);
  }
}
.box span
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);
}
.box span img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  object-fit: cover;
}

/* loading animation effect */
.loadingcircle
{
display: flex;
justify-content: center;
align-items: center;
min-height: 20vh;
width: 25vw;
background: #001d10;
animation: animateBackgroundColor 30s linear infinite;
}
@keyframes animateBackgroundColor
{
  0%
  {
    filter: hue-rotate(0deg);
  }
  100%
  {
    filter: hue-rotate(3600deg);
  }
}

.loading
{
    position: relative;
    width: 250px;
    height: 250px;
}
.loading .blocks
{
    position: absolute;
    width: 8px;
    height: 25px;
    background: #050c09;
    left: 50%;
    border-radius: 8px;
    transform: rotate(calc(18deg * var(--i)));
    transform-origin: 0 125px;
    animation: animate 1.9s ease-in-out infinite;
    animation-delay: calc(0.05s * var(--i));

}
@keyframes animate
{
    0%,50%
    {
        background:#050c09;
        box-shadow: none;
    }
    50.1%,100%
    {
      background:#0f0;
      box-shadow: 0 0 5px #0f0,
                  0 0 15px #0f0,
                  0 0 30px #0f0,
                  0 0 60px #0f0,
                  0 0 90px #0f0,
    }
}
.loadingcircle .loading h3
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2em;
  letter-spacing: 2px;
  animation: animateText 2s ease-in-out infinite;
  animation-delay: -1s;
}
@keyframes animateText
{
  0%,50%
    {
        color:#050c09;
        text-shadow: none;
    }
    50.1%,100%
    {
      color:#0f0;
      text-shadow: 0 0 5px #0f0,
                  0 0 15px #0f0,
                  
    }
}
/* 360deg/20 block = 18deg each
1 / 20 = 0.05 */
footer
{
  background: white;
  grid-area: footer;
  text-align: center;
  font-size: 1em;
}
/* footer ul
{
  justify-content: center;
  margin: 1em auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
} */
/* footer a
{
  color: white;
} */
