h1 {
    color: violet;
    background-color: black;
  }
body {
    background: #efefef;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
  width: 320px;
  height: 400px;
  right: -40px;
  margin-left: 20px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  
      
  transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 
  0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
  
      
  padding: 2px 16px;
  } 
  .card .title
  {
    margin-left: auto;
    margin-right: auto;

  }